body {
    background-color:  #f8d9ee; /* Fondo blanco para una sensación de amplitud */
    font-family: "Arial Black", sans-serif;
  }
  
  h1 {
    color: rgb(153, 151, 253); /* Morado pastel para los títulos */
    text-align: center;
    margin-top: 50px;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
    background-color:  rgb(255, 251, 194); /* Azul pastel para los formularios */
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: rgb(153, 151, 253); /* Morado oscuro para contraste en las etiquetas */
  }
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #e476bf; /* Borde azul pastel */
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 30px;
    background-color: rgb(234, 177, 224); /* Botones morados pastel */
    color: rgb(153, 151, 253);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .subirArchivo {
    height: 20px;
    background-color: rgb(234, 177, 224); /* Botones morados pastel para subir archivos */
    color: rgb(153, 151, 253);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  table {
    margin-top: 30px;
    border-collapse: collapse;
    width: 100%;
    background-color:  rgb(255, 251, 194); /* Fondo claro para las tablas */
    border-radius: 10px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: rgb(234, 177, 224); /* Cabeceras de tabla azules pastel */
    color: rgb(153, 151, 253);
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #d797d9;
  }
  
  .volver-inicio {
    position: fixed;
    top: 20px;
    left: 20px;
  }
  
  .btn-volver {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #545478; 
    color: #fff;
    border-radius: 5px;
  }
  
  .btn-volver:hover {
    background-color: #3a3a5e;
  }
  
  .contenedor-principal {
    display: flex;
    justify-content: space-between;
  }
  
  .contenedor-formulario {
    flex: 1; 
    margin-top: 26px;
    margin-right: 30px; 
  }
  
  .contenedor-tabla {
    flex: 1.5; 
    margin-right: 30px;
  }
  
  button:hover, .subirArchivo:hover, .btn-volver:hover {
    background-color: #d797d9; 
    color: #ffffff;
  }
  button#btnBorrar:hover {
    background-color: #d9534f; 
    color: #ffffff;
  }

  .pattaya-regular {
    font-family: "Pattaya", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .scope-one-regular{
    font-family: "Scope One", serif;
    font-weight: 400;
    font-style: normal;
}

#encabezado{
  width: 90%;
  background-color: rgb(255, 251, 194);
  margin: 1em;
  border-radius: 5px;
  text-align: center;
  
  
  }